//
// VARIABLES
//
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "Open Sans", Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", "Open Sans", Arial, sans-serif;
$georgia: "Open Sans", Georgia, serif;

// Base styles
body {
  font-family: $helvetica;
  color: $black;
  line-height: 1.6; // Adjust line height as needed
}

// Heading styles
h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue; // If you want headings to use a different font
  font-weight: normal; // or 700 for bold, adjust as you prefer
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
